.featured{
    height: 90vh;
    position: relative;
    overflow: hidden;
   
    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px ;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px ;
        select{
            cursor: pointer;
            background-color: var(--mainColor);
            color: white;
            border: 1px solid white;
            padding: 10px ;
            border-radius: 5px;
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info{
        width: 35%;
        position: absolute;
        left: 50px ;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        img{
            height: 70px;
            width: 400px;
            object-fit: cover;

        }
        .desc{
            margin: 20px 0px ;
            font-size: 16px;

        }
        .buttons{
            display: flex;
            gap: 10px;
            button{
                padding: 10px 20px ;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 18px ;
                span{
                    margin-left: 5px ;
                }
                &.play{
                    color: var(--mainColor);
                    background-color: white;
                }
                &.more{
                    background-color: gray;
                    color: white;


                }
            }
        }
    }
}